@font-face {
	font-family: "Friday13";
	src: url("Friday13SH.ttf");
}

@font-face {
	font-family: "NightmarePills";
	src: url("NightmarePills-BV2w.ttf");
}

@font-face {
	font-family: "CurseOfZombie";
	src: url("CurseoftheZombie.ttf");
}

@font-face {
	font-family: "Sangkury";
	src: url("Sangkury-JRWXB.ttf");
}